.eventContainer {
    height: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.eventCard {
    height: 48vh;
    width: 20%;
    background-color: whitesmoke;
    margin-top: 30px;
    margin-bottom: 8px;
    padding: 8px;
}
.eventImage {
    height: 45%;
    width: 100%;
    background-color: transparent;
}
.eventInfo {
    height: 9%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.location {
    height: 90%;
    width: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}
.date {
    height: 90%;
    width: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}
.eventDetails {
    height: 34%;
    width: 100%;
    background-color: transparent;
}
.heading {
   height: 60%;
   width: 100%;
   background-color: transparent; 
   display: flex;
   align-items: center;
   font-size: 1.6rem;
   font-weight: bold;

}
.desc {
    height: 40%;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    color: gray;
}
.status {
  height: 40%;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}
.eventSell {
    height: 10%;
    width: 100%;
    background-color: transparent;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view {
    height: 100%;
    width: 40%;
    background-color: transparent;
}
.prize {
    height: 100%;
    width: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;


}
.viewButton {
    height: 100%;
    width: 100%;
    background-color:  green;
    border: 0px;
    font-size: 1.1rem;
    color: whitesmoke;
    border-radius: 20px;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color:blueviolet;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color:blueviolet;
  }
  
  .paginationActive a {
    color: white;
    background-color: blueviolet;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: blueviolet;
  }
  
  .paginationActive a {
    color: white;
    background-color: blueviolet;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }
  .Button1 {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
    cursor: pointer;

  }
  .Button2 {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;

  }
  .Button3 {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid red;
    color: white;
    background-color: red;
    cursor: pointer;

  }
  .buttondiv1 {
    padding-left: 80%;
  }
  .Button-loading {
    width: 80%;
    margin-left: 3%;
    border: 1px solid black;
    color:violet;
    cursor: pointer;
    background-color:black;
    
    
  }